body {
    background-color: #2b2626;
}

.section-container {
    display: flex;
    justify-content: space-around;
}

.eye-image {
    height: 60px;
    display: block;
    margin: 0 auto;
    padding-bottom: 0;
}

.section1-title {
    font-size: 30px;
    padding-top: 0;
    color: #1aa090;
}

.font-white {
    color: white;
    text-align: center;
}

.section1 {
    background-color: white;
    margin: 20px;
    width: 400px;
    border: 2px solid #1aa090;
    border-radius: 10px;
    padding: 10px;
}

.section1:hover .section1-title {
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
    
}

.section1:hover p {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.text-center {
    text-align: center;
    color: black;
}

.template-container {
    display: flex;
}

.template {
    margin: 20px;
    padding: 15px;
    width: 300px;
    border: 1px dashed black;
    border-radius: 8px;
    background-color: #C5FFF8;

}

.template-image {

    height: 50px;

}

.template-title {
    font-weight: bold;
    font-size: 24px;
}


@media screen and (max-width: 600px) {
    .section-container {
        flex-direction: column;
        align-items: center;
    }

    .section1 {
        width: 90%;
        margin: 10px;
    }

    .template-container {
        flex-direction: column;
        align-items: center;
    }

    .template {
        width: 90%;
        margin: 10px;
    }

    .template-title {
        font-size: 20px;
    }

    .eye-image {
        height: 40px;
    }


}



@media screen and (min-width: 601px) and (max-width: 800px) {
    .section1 {
        width: 300px;
        margin: 15px;
    }

    .template {
        width: 250px;
        margin: 15px;
    }

    .template-title {
        font-size: 20px;
    }

    .eye-image {
        height: 50px;
    }


}